@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --primary-color: hsl(47, 88%, 63%);
    --secondary-color: hsl(0, 0%, 100%);
    --font-500: hsl(0, 0%, 42%);
    --font-950: hsl(0, 0%, 7%);
}

.font-500 {
    font-weight: 500;
    color: var(--font-500);
}

.font-950 {
    font-weight: 800;
    color: var(--font-950);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
}

body {
    background-color: var(--primary-color);
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: var(--secondary-color);
    max-width: 26rem;
    padding: 1.5rem;
    border-radius: 20px;
    border: 1px solid var(--font-950);
    box-shadow: 10px 10px var(--font-950);
}

@media (max-width: 376px) {
    .card {
        max-width: 20rem;
    }

}

.img img {
    width: 100%;
    border-radius: 10px;
}

.learning {
    display: inline-flex;
    background-color: var(--primary-color);
    padding: 5px 10px;
    margin-top: 20px;
    border-radius: 5px;
}

.date {
    color: var(--font-950);
    font-size: .9rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.foundations {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: .3s;
}

.foundations:hover {
    color: var(--primary-color);
    cursor: pointer;
}

@media (max-width: 376px) {
    .foundations {
        font-size: 1.2rem;
    }
}

.paragraph {
    margin-bottom: 10px;
}

@media (max-width: 376px) {
    .paragraph {
        font-size: .8rem;
    }
}

.auther {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.auther img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
